.dashCol {
  height: 70vh;
  width: 25em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1em;
  background-color: rgba(194, 185, 185, 0.274);
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1.5em;
  box-shadow: rgba(51, 53, 64, 0.27) 0px 0px 0.25em,
    rgba(73, 82, 97, 0.05) 0px 0.25em 1em;
}

.card {
  width: 23vw;
  height: 12vh;
  border-radius: 0.5em;
  padding: 0.2em;
}

.card:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
